*.csv
# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment (venv)
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment
.env

# Streamlit Secrets
.streamlit/
.streamlit/secrets.toml